<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
		<h2>Variable</h2>
		<p><%= tagline %></p>
		<h2>Loop</h2>
		<ul>
			<% drinks.forEach(function(drink) { %>
				<li><%= drink.name %> - <%= drink.drunkness %></li>
			<% }); %>
		</ul>
	</main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
